<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Headlines</title>
</head>
<body>
    {% for feed in feeds: %}
        <a href="/{{feed}}">{{feed.upper()}}</a>
    {% endfor %}
    <h1>{{ link }}</h1>
    <h1>Latest Headlines</h1>
    {% for article in articles %}
    <b><a href="{{article.link}}"> {{ article.title }}</a></b><br/>
        <i>{{ article.published }}</i><br/>
        <p>{{ article.summary }}</p>
    <hr/>
    {% endfor %}
</body>
</html>