<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Headlines</title>
</head>
<body>
<div class="container">
    <div class="row container bg-primary ">
        <h4><a href="/headlines" style="color:white"> Headlines </a>:: A Python/Flask mini-project</h4>
    </div>

    <div class="row well">
        <!-- NEWS -->
        <div class="col-md-6">
            <h3>News</h3>
            <h3>
                {% for feed in feeds: %}
                <a class="btn btn-default {% if (feed==link) %} btn-primary {% endif %}" href="?link={{feed}}">{{currency}}
                    {{feed.upper()}}</a>
                {% endfor %}
            </h3>
            <hr/>

            {% for article in articles[:5] %}
            <b><a href="{{article.link}}"> {{ article.title }}</a></b>
            <i>{{ article.published }}</i><br/>
            <p>{{ article.summary }}</p>
            {% endfor %}
            <br/>
            <h5>
                RSS feeds are taken from various news sites and filtered to show last 5 entries.
            </h5>
        </div>

        <!-- WEATHER -->
        <div class="col-md-6">
            <div class="col-md-12">

                <h3>Weather info</h3>
                <form>
                    <div class="form-group form-inline">
                        <input class="form-control" type="text" name="city" placeholder="search city">
                        <input class="btn btn-primary" type="submit" value="Search">
                    </div>
                </form>
                <h4>City: <b>{{ weather.city }}, {{ weather.country }}</b></h4>
                <h4>{{ weather.description.capitalize() }} </h4>
                <h4>Temp: {{ weather.temperature}}&#8451; </h4>
                <h4>Wind: {{ weather.wind }}</h4>
                <br/>
                <h5>
                    Weather is retreived from free <a href="http://openweathermap.org/"
                                                      target="_blank">OpenWeatherMap</a> service
                </h5>
            </div>
            <!-- CURRENCY -->
            <div class="col-md-12">
                <h3>Currency</h3>
                <form>
                    <div class="form-group form-inline">
                        <select name="currency_from" class="form-control">
                            {% for currency in currencies %}
                            <option value="{{ currency }}"
                                    {% if (currency_from==currency) %} selected="selected" {% endif %}>{{ currency }}
                            </option>
                            {% endfor %}
                        </select>
                        ->
                        <select name="currency_to" class="form-control">
                            {% for currency in currencies %}
                            <option value="{{currency}}"
                                    {% if (currency_to==currency) %} selected="selected" {% endif %}>{{currency}}
                            </option>
                            {% endfor %}
                        </select>
                        <input class="btn btn-primary" type="submit" value="Get rate">
                    </div>
                </form>
                <h4>1 {{ currency_from }} = <b>{{ rate }}</b> {{ currency_to }}</h4>
                <br/>
                <h5>
                    Exchange rates are from free <a href="https://openexchangerates.org/"
                                                    target="_blank">OpenExchangeRates</a> service
                </h5>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>
